@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap&family=BBH+Sans+Bogle&family=Bebas+Neue&family=Shadows+Into+Light&display=swap&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    display: flex;
    background-color: rgb(9, 11, 12);
    width: 100%;
    min-height: 100dvh;
    flex-direction: column;
    padding-bottom: 0;
}

main {
    flex-grow: 1; 
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 7rem;
    gap: 3rem;
    z-index: 1200;
    position: fixed;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo{
    width: 10rem;
    height: auto;
    filter: drop-shadow(0 0 12px #00aaff);
}

.menu{
    margin-right: 30px;
}

.menu ul{
    display: flex;
    gap: 3rem;
}

.menu ul li a{
    color: white;
    font-family: "Roboto Flex", sans-serif;
    padding: 8px 0;
    position: relative;
    transition: all 0.5s ease;
    font-size: 1rem;
    font-weight: 150;
    display: inline-block;
}

.menu ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #00aaff;
    transition: width 0.4s ease-in-out;
}

.menu ul li a:hover::after{
    width: 100%;
}

.menu ul li a:hover{
    transform: scale(1.1);
}

.hero-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
    height: 10rem;
    margin-top: 14rem;
    color: white;
    font-family: "Roboto Flex", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    padding: 0 20px;
    text-align: center;
}

.hero-txt h3{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.hero-img{
    background-image: url('../assets/imgs/Hero-img.jpeg');
    background-attachment: fixed;
    background-position: 70% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px 10vw 90px 10vw;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.hero{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 100%;
}

.container-list{
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    gap: 5rem;
    margin-right: 70px;
}

.container-list h2{
    font-family: "Roboto Flex", sans-serif;
    font-weight: 100;
    font-size: 40px;
    padding-bottom: 15px;
}

.lists {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 4rem 4rem;
    justify-content: center;
    margin-left: 2rem;
}

.lists ul {
    display: contents;
}

.lists ul li{
    margin-bottom: 1.8rem;
}

.lists ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 180px;
    font-size: 17px;
    text-align: center;
    border-radius: 20px;
    background: transparent;
    color: #00f0ff;
    font-family: "Zalando Sans Expanded", sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    border: 2px solid rgba(0, 240, 255, 0.6); 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.15);
    transition: all 0.5s ease;
}

.lists ul li a:hover {
    transform: translateY(-4px);
    border-color: #00ffff;
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.4);
    color: #fff;
}

.ir-para-btn{
    height: 6rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ir-para-btn a{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: #f0f0f0;
    padding: 0.5rem;
    transition: all 0.3s ease;
    display: inline-flex; 
    align-items: center;
}

.ir-para-btn a i{
    transition: transform 0.3s ease;
    margin: 5px;
    margin-top: 9px;
}

.ir-para-btn a:hover{
    transform: scale(103%);
}

.ir-para-btn a:hover i{
    transform: translateX(4px);
}

.img-list{
    width: 50%rem;
    height: 35rem;
    border-radius: 20px;
    border: 1.5px solid #00aaff;
    filter: drop-shadow(0 0 12px #00aaff);
    margin-left: 10rem;
}


footer {
    background-color: transparent; 
    width: 100%;
    padding: 60px 0;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 150; 
    z-index: 1000; 
    box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    position: relative;
    bottom: 0;
}

.container-rodape {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
}

.top-footer{
    display: flex;
    justify-content: space-around; 
    width: 100%;
    max-width: 800px;
    align-items: flex-start;
}

.secao-rodape {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.secao-rodape:last-of-type {
    border-right: none; 
    margin-right: 0;
    padding-right: 0;
}

.info-contato {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 350px; 
    font-family: "Roboto flex", sans-serif;
}

.info-contato h2 {
    color: white; 
    font-size: 1.4em;
    margin-bottom: 10px;
}

.info-contato p {
    margin: 0 0 5px 0;
    font-size: 0.9em;
    font-weight: 100;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-align: center;
}

.redes-sociais h3 {
    margin: 0 0 5px 0;
    font-size: 0.9em;
}

.redes-sociais-icones{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: row;
    padding: 10px 0;
}

.icone-link {
    color: #f0f0f0; 
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.icone-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-2px);
}

.icone-link.whatsapp:hover {
    color: #25D366;
}

.icone-link.facebook:hover {
    color: #1877F2;
}

.icone-link.instagram:hover {
    color: #E1306C;
}

.copyright {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 0.8em;
    color: #aaa;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
}

.copyright p {
    margin: 5px 0;
}


@media (max-width: 1024px) {
    header {
        height: 5.5rem;
    }

    .logo {
        width: 7.5rem;
    }

    .menu ul {
        gap: 1.5rem;
    }

    .hero-img {
        margin: 50px 80px;
        background-position: 70% center;
    }

    .hero-txt {
        margin-top: 9rem;
        font-size: 1.5rem;
    }

    .servicos {
      flex-direction: column;
      gap: 4rem;
      padding: 0 5vw;
    }

    .container-list {
      width: 100%;
      margin-right: 0;
      align-items: center;
      text-align: center;
    }

    .ir-para a{
        width: 100%;
        margin-right: 0;
        align-items: center;
        text-align: center;
    }

    .container-list h2 {
      font-size: 32px;
    }

    .lists {
      gap: 2.5rem;
      margin-left: 0;
    }

    .img-list {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        height: 15%;
        padding: 10px 10px 5px 10px;
        gap: 0.3rem;
    }

    .logo {
        width: 6.5rem;
    }

    .menu {
        margin-right: 0;
    }

    .menu ul {
        gap: 0.8rem;
        padding: 0 10px 5px 10px;
    }
    
    .hero-txt {
        margin-top: 10rem;
        font-size: 1.2rem;
        gap: 0.8rem;
        height: auto;
        padding: 0 10px;
    }

    .hero-txt h3 {
        font-size: 1.8rem;
    }

    .hero-img {
        margin: 40px 15px;
        background-attachment: scroll;
        height: 50vh;
        background-position: 70% center;
    }

    .servicos {
      margin-top: 5rem;
      margin-bottom: 5rem;
      gap: 3rem;
    }

    .container-list {
      gap: 3rem;
    }

    .container-list h2 {
      font-size: 1.8rem;
    }

    .lists {
      gap: 2rem;
    }

    .lists ul li a {
      width: 100%;
      max-width: 250px;
      font-size: 18px;
      height: 70px;
    }

    .ir-para-btn{
        height: 4rem;
    }

    .ir-para a {
        width: 100%;
        max-width: 250px;
        font-size: 18px;
        height: 90px;
    }
    
    footer {
        padding: 40px 0;
    }

    .top-footer {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .info-contato {
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    .secao-rodape {
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    .secao-rodape:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .container-rodape {
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .hero-txt h3 {
        font-size: 1.4rem;
    }
    .menu ul {
        gap: 0.6rem;
    }
    .hero-img {
        background-position: 70% center;
    }

    .servicos {
      gap: 2rem;
      padding: 0 15px;
    }

    .container-list h2 {
      font-size: 1.6rem;
    }

    .lists {
        gap: 1.5rem;
    }

    .lists ul li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lists ul li a {
      font-size: 16px;
      height: 60px;
      width: 10rem;
    }

    .ir-para a {
      font-size: 16px;
      height: 60px;
    }
}
